@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
box-sizing:border-box;
}

body{
margin:0;
font-family:'Poppins',sans-serif;
}

/* BACKGROUND */

.admin-login-page{
height:100vh;
background:linear-gradient(135deg,#0B3C5D,#0a2f48);
display:flex;
align-items:center;
justify-content:center;
color:white;
}

/* WRAPPER */

.login-wrapper{
text-align:center;
}

/* HEADER */

.login-header{
margin-bottom:30px;
}

.admin-logo-box{
width:55px;
height:55px;
background:#D4AF37;
border-radius:12px;
display:flex;
align-items:center;
justify-content:center;
color:white;
margin:0 auto 15px auto;
}

.login-header h1{
margin:0;
font-weight:600;
font-size:32px;
}

.login-header p{
margin-top:6px;
font-size:15px;
opacity:0.9;
}

/* LOGIN CARD */

.login-card{
background:white;
color:#333;
width:380px;
padding:30px;
border-radius:16px;
box-shadow:0 20px 40px rgba(0,0,0,0.25);
text-align:left;
margin:auto;
}

.login-card h2{
margin-top:0;
margin-bottom:20px;
}

/* ROLE SWITCH */

.role-switch{
display:flex;
gap:10px;
margin-bottom:20px;
}

.role-switch button{
flex:1;
padding:10px;
border:none;
border-radius:8px;
background:#eee;
cursor:pointer;
font-weight:500;
transition:0.3s;
}

.role-switch button.active{
background:#0B3C5D;
color:white;
box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

/* INPUT */

.input-group{
margin-bottom:18px;
}

.input-group label{
font-size:13px;
color:#555;
display:block;
margin-bottom:6px;
}

.input-box{
position:relative;
}

.input-icon{
position:absolute;
left:12px;
top:50%;
transform:translateY(-50%);
color:#999;
}

.input-box input{
width:100%;
padding:11px 12px 11px 38px;
border:1px solid #ddd;
border-radius:8px;
outline:none;
font-size:14px;
}

/* BUTTON */

.login-btn{
width:100%;
padding:13px;
border:none;
background:#D4AF37;
color:white;
font-weight:500;
border-radius:8px;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

.login-btn:hover{
background:#c99d2d;
}

/* DEMO TEXT */

.demo{
text-align:center;
font-size:12px;
margin-top:12px;
color:#777;
}

/* COPYRIGHT */

.copyright{
margin-top:30px;
font-size:12px;
opacity:0.8;
}